# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.
# Default owners for everything in the repo, unless a later match takes precedence

# Phoenix owns the files under blacklist thingies
/Flare_Robot/modules/blacklistusers.py @rsktg
/Flare_Robot/modules/sql/blacklistusers_sql.py @rsktg
